:root {
  --first-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --accent-text-color: #2196f3;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--first-text-color);
}
address {
  margin-top: 20px;
  font-style: normal;
}
.portfolio-dist {
  padding-bottom: 94px 0;
}

header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #ececec;
  display: flex;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding: 94px 0;
}

.filtr-btn {
  background: #f5f4fa;
  border-radius: 4px;
}
/*--------------- HEADER--------------- */

.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link--current {
  color: var(--accent-text-color);
}
.menu__link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -32px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-text-color);
}
.menu__link:hover,
.menu__link:focus {
  color: var(--accent-text-color);
}
.container__header {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  margin-right: 94px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}
.logo__dark {
  color: var(--first-text-color);
}
.logo__light {
  color: var(--third-text-color);
}

.menu {
  display: flex;
}
.menu__item {
  margin-right: 50px;
}

.contacts {
  display: flex;
  margin-left: auto;
}
.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__icon {
  fill: var(--second-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-text-color);
}
.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--accent-text-color);
}

/*--------------- SOLUTIONS--------------- */

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: transparent;
}

.solutions {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/main-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.solutions__slogan {
  width: 696px;
  height: 120px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--third-text-color);
  margin-bottom: 30px;
}

.btn__solution {
  display: block;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  color: var(--third-text-color);
  background: var(--accent-text-color);
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

/*--------------- ADVANTAGES--------------- */

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.advantages {
  display: flex;
}
.advantages__logo {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-color);
  margin-bottom: 10px;
}
.advantages__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--second-text-color);
}

/*--------------- ABOUT --------------- */
.about {
  display: flex;
}
.nopadding {
  padding-top: 0;
}
.about__title {
  margin-bottom: 50px;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}
.about__photo {
  position: relative;
}
.about__text {
  position: absolute;
  left: 0;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--third-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*--------------- TEAM --------------- */

.grey-background {
  background-color: #f5f4fa;
}
.team {
  display: flex;
}
.team__item {
  margin-right: 15px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__description {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__manager-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--first-text-color);
  margin-bottom: 10px;
}

.team__manager-spec {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-text-color);
  margin-bottom: 16px;
}
.social {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.social__item:last-child {
  margin-right: 0px;
}
.social__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover,
.social__link:focus {
  background-color: var(--accent-text-color);
}
.social__link:hover .social-icon,
.social__link:focus .social-icon {
  fill: var(--third-text-color);
}
.social__link {
  width: 100%;
  height: 100%;
  background-color: var(--third-text-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*--------------- FOOTER --------------- */

.footer-contacts {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-adr {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--third-text-color);
}
.footer-mail,
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-between-item {
  margin-bottom: 9px;
}
.portfolio-project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--first-text-color);
}
.portfolio-project-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--second-text-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.filtr-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filtr-item:not(:last-child) {
  margin-right: 8px;
}
.filtr-btn {
  padding-top: 6px;
  padding-bottom: 6px;
  background: F5F4FA;
  border-radius: 4px;
  padding-left: 22px;
  padding-right: 22px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filtr-btn:hover,
.filtr-btn:focus {
  color: var(--third-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.portfolio-item {
  /* position: relative; */
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}
.portfolio-item-description {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.portfolio-link-photo {
  position: relative;
  overflow: hidden;
}
.portfolio-link-text {
  position: absolute;
  top: 0;
  left: 0;
  /* font-style: normal;
  font-weight: normal; */
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--third-text-color);

  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients {
  display: flex;
}

.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px rgba(175, 177, 184, 1) solid;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 30px;
}
.clients__logo {
  display: flex;
}
.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover,
.clients__link:focus {
  border-color: var(--accent-text-color);
}
.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-text-color);
}
.footer-connection {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--third-text-color);

  margin-bottom: 20px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon {
  fill: var(--third-text-color);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-text-color);
}
.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon {
  fill: var(--third-text-color);
}

.log {
  display: flex;
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}
.sum {
  display: flex;
  align-items: baseline;
}
.left {
  flex-grow: 1;
  margin-right: 70px;
}
.right {
  margin-right: 93px;
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-link:hover .portfolio-link-text,
.portfolio-link:focus .portfolio-link-text {
  transform: translateY(0);
}
.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  padding: 40px;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal-btn {
  border: 1px solid #757575;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
  fill: var(--accent-text-color);
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-form-head {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--first-text-color);
  margin-bottom: 12px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-field {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: var(--second-text-color);
  margin-bottom: 10px;
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-text-color);
}
.modal-form-item {
  position: relative;
  display: block;
  margin-top: 6px;
}
.modal-form-input {
  padding-left: 30px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-text-color);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-text-color);
}
.modal-form-message {
  display: block;
  padding: 12px 16px;
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-top: 6px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-button {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background: var(--accent-text-color);

  border: transparent;
  border-radius: 4px;
  color: var(--third-text-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-button:hover,
.modal-form-button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.modal-form-icon {
  position: absolute;
  display: block;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-chbox-label {
  display: flex;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  /* identical to box height, or 171% */

  letter-spacing: 0.03em;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.modal-form-chbox-label::before {
  display: block;
  content: '';
  width: 18px;
  height: 17px;
  border: 2px solid #212121;
  /* border-color: transparent; */
  cursor: pointer;
  border-radius: 2px;
  margin-right: 7px;
}
.modal-form-chbox:checked + .modal-form-chbox-label::before {
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer-form-header {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--third-text-color);
  margin-bottom: 20px;
}
.footer-form {
  display: flex;
  align-items: flex-end;
}
.footer-form-section {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}
.footer-form-input {
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  color: var(--third-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
}
.footer-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.footer-form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 2;
  background-color: var(--accent-text-color);
  border: transparent;
  border-radius: 4px;
  color: var(--third-text-color);
  /* background-image: url(../images/icon-send.svg);
  background-repeat: no-repeat; */
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-button::after {
  content: '';
  background-image: url(../images/icon-send.svg);
  width: 24px;
  height: 24px;
  margin: 0 0 0 10px;
}
.footer-form-button:hover {
  background-color: #188ce8;
}
