.filtr__btn {
  padding-top: 6px;
  padding-bottom: 6px;
  background: F5F4FA;
  border-radius: 4px;
  padding-left: 22px;
  padding-right: 22px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filtr__btn:hover,
.filtr__btn:focus {
  color: var(--third-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
